In [1]:
!pip install bs4
!pip install requests
!pip install selenium

Requirement already satisfied: bs4 in c:\users\ad\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ad\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ad\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\ad\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ad\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ad\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ad\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ad\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: selenium in c:\users\ad\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ad\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ad\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: trio~=0.17 in c:\users\ad\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ad\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sniffio in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ad\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ad\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ad\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ad\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException
from selenium.common.exceptions import SessionNotCreatedException, TimeoutException
import time
import warnings
warnings.filterwarnings('ignore')

### Q1 :-  Scrape the details of most viewed videos on YouTube from Wikipedia.

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver = webdriver.Chrome()
driver.get(url)

search_val = driver.find_element(By.XPATH, '//*[@id="toc-Historical_most-viewed_videos"]')
search_val.click()
time.sleep(3)

In [3]:
video_name = []
artist_name = []
upload_date = []
views = []

video = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][2]/tbody/tr/td[1]/a')
for v in video:
    video_name.append(v.text)
    
artist = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][2]/tbody/tr/td[2]')
for a in artist:
    artist_name.append(a.text)
    
upload = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][2]/tbody/tr/td[4]')
for u in upload:
    upload_date.append(u.text)
    
view = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][2]/tbody/tr/td[3]')
for v in view:
    views.append(v.text)

In [4]:
df1 = pd.DataFrame({"Video Name": video_name, "Artist Name": artist_name, "Upload Date": upload_date, "Views": views})
df1

,Video Name,Artist Name,Upload Date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,Despacito,Luis Fonsi,"January 12, 2017","2,993,700,000"
2,See You Again,Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,Gangnam Style,Psy,"July 15, 2012","803,700,000"
4,Baby,Justin Bieber,"February 19, 2010","245,400,000"
5,Bad Romance,Lady Gaga,"November 24, 2009","178,400,000"
6,Charlie Bit My Finger,HDCYT,"May 22, 2007","128,900,000"
7,Evolution of Dance,Judson Laipply,"April 6, 2006","118,900,000"
8,Girlfriend,RCA Records,"February 27, 2007","92,600,000"
9,Evolution of Dance,Judson Laipply,"April 6, 2006","78,400,000"
10,Music Is My Hot Hot Sex,CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,Evolution of Dance,Judson Laipply,"April 6, 2006","10,600,000"
12,Pokémon Theme Music Video,Smosh,"November 28, 2005","4,300,000"
13,Myspace – The Movie,eggtea,"January 31, 2006","2,700,000"
14,Phony Photo Booth,mugenized,"December 1, 2005","3,400,000"
15,The Chronic of Narnia Rap,youtubedude,"December 18, 2005","2,300,000"
16,Ronaldinho: Touch of Gold,Nikesoccer,"October 21, 2005","255,000"
17,I/O Brush,larfus,"October 5, 2005","247,000"

### Q2 :-  Scrape the details team India’s international fixtures from bcci.tv.

In [2]:
url = "https://www.bcci.tv/"
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [3]:
pop_up = driver.find_element(By.XPATH, '//button[@class="close-button page-close"]')
pop_up.click()

In [4]:
search_val = driver.find_element(By.XPATH, '//div[@class="imw-tabs international-tabs"]/a[2]')
search_val.click()
time.sleep(10)

In [5]:
series = []
place = []
date = []
time = []

In [6]:
series_tag = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for s in series_tag:
    series.append(s.text)
    
place_tag = driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]/span[1]')
for p in place_tag:
    place.append(p.text)
    
date_tag = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for d in date_tag:
    date.append(d.text)
    
time_tag = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for t in time_tag:
    time.append(t.text)

In [7]:
print(len(series), len(place), len(date), len(time))

211 211 211 211

In [8]:
df2 = pd.DataFrame({"Series": series, "Place": place, "Date": date, "Time": time})
df2

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium,","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium,","22 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"Wankhede Stadium,","2 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"Eden Gardens,","5 NOVEMBER, 2023",2:00 PM IST
...,...,...,...,...
206,ASIA CUP 2022,"Dubai International Cricket Stadium,","6 SEPTEMBER, 2022",7:30 PM IST
207,ASIA CUP 2022,"Dubai International Cricket Stadium,","4 SEPTEMBER, 2022",7:30 PM IST
208,NEW ZEALAND A TOUR OF INDIA,"M.Chinnaswamy Stadium,","1 SEPTEMBER, 2022",9:30 AM IST
209,ASIA CUP 2022,"Dubai International Cricket Stadium,","31 AUGUST, 2022",7:30 PM IST
210,ASIA CUP 2022,"Dubai International Cricket Stadium,","28 AUGUST, 2022",7:30 PM IST

### Q3 :-  Scrape the details of State-wise GDP of India from statisticstime.com.

In [10]:
url = "https://statisticstimes.com/"
driver = webdriver.Chrome()
driver.get(url)

In [11]:
drop_down = driver.find_element(By.XPATH, '//div[@class="navbar"]/div[2]')
drop_down.click()

search_tab = driver.find_element(By.XPATH, '//a[@href="economy/india-statistics.php"]')
search_tab.click()

In [13]:
# pop_up = driver.find_element(By.XPATH, '//span[@class="ns-9rei7-e-18"]')
# pop_up.click()

In [14]:
state_gdp = driver.find_element(By.XPATH, '//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]')
state_gdp.click()

In [15]:
state_rank = []
state_name = []
gsdp_1819 = []
gsdp_1920 = []
share_1819 = []
gdp_DBillion = []

In [16]:
rank = driver.find_elements(By.XPATH, '//table[@id="table_id"][1]/tbody/tr/td[1]')
for r in rank:
    state_rank.append(r.text)
    
state = driver.find_elements(By.XPATH, '//table[@id="table_id"][1]/tbody/tr/td[2]')
for s in state:
    state_name.append(s.text)
    
gsdp1819 = driver.find_elements(By.XPATH, '//table[@id="table_id"][1]/tbody/tr/td[4]')
for g in gsdp1819:
    gsdp_1819.append(g.text)
    
gsdp1920 = driver.find_elements(By.XPATH, '//table[@id="table_id"][1]/tbody/tr/td[3]')
for g in gsdp1920:
    gsdp_1920.append(g.text)
    
share1819 = driver.find_elements(By.XPATH, '//table[@id="table_id"][1]/tbody/tr/td[5]')
for s in share1819:
    share_1819.append(s.text)
    
gdp = driver.find_elements(By.XPATH, '//table[@id="table_id"][1]/tbody/tr/td[6]')
for g in gdp:
    gdp_DBillion.append(g.text)

In [17]:
print(len(state_rank), len(state_name), len(gsdp_1819), len(gsdp_1920), len(share_1819), len(gdp_DBillion))

33 33 33 33 33 33

In [18]:
df3 = pd.DataFrame({"State Rank":state_rank, "State Name":state_name, "GSDP(18-19)":gsdp_1819, "GSDP(19-20)":gsdp_1920, "Share(18-19)":share_1819, "GDP($ Billion)":gdp_DBillion})
df3

,State Rank,State Name,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### Q4 :-  Scrape the details of trending repositories on Github.com.

In [20]:
url = "https://github.com/"
driver = webdriver.Chrome()
driver.get(url)

In [21]:
drop_down = driver.find_element(By.XPATH, '//div[@class="header-menu-wrapper d-flex flex-column flex-self-end flex-lg-row flex-justify-between flex-auto p-3 p-lg-0 rounded rounded-lg-0 mt-3 mt-lg-0"]/nav/ul/li[3]')
drop_down.click()

search_tab = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search_tab.click()

In [22]:
r_title = []
r_description = []
c_count = []
r_language = []

In [23]:
product_url = []

url = driver.find_elements(By.XPATH, '//a[@class="Link"]')
for i in url:
    product_url.append(i.get_attribute("href"))

In [24]:
title = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]/a')
for t in title:
    r_title.append(t.text)

desc = driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for d in desc:
    r_description.append(d.text)

lang = driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')
for l in lang:
    r_language.append(l.text)

In [25]:
for url in product_url:
    driver.get(url)
        
    try:
        count = driver.find_elements(By.XPATH, '//div[@class="BorderGrid BorderGrid--spacious"]/div[5]/div/h2/a/span')
        for c in count:
            c_count.append(c.text)
    except NoSuchElementException:
        c_count.append("-")

In [26]:
print(len(r_title), len(r_description), len(c_count), len(r_language))

25 23 10 22

In [27]:
print(r_title)

['spdustin / ChatGPT-AutoExpert', 'PWhiddy / PokemonRedExperiments', 'LazyVim / LazyVim', 'ton-community / tact-challenge', 'pi-hole / pi-hole', 'TheAlgorithms / Python', 'huggingface / text-embeddings-inference', 'awesome-selfhosted / awesome-selfhosted', 'gorhill / uBlock', 'practical-tutorials / project-based-learning', 'adrianhajdin / travel_ui_ux', 'calcom / cal.com', 'nvim-lua / kickstart.nvim', 'hyprwm / Hyprland', 'formbricks / formbricks', 'iamcryptoki / snowden-archive', 'LizardByte / Sunshine', 'hkirat / docker-roadmap', 'doocs / leetcode', 'hustvl / 4DGaussians', 'topjohnwu / Magisk', 'qarmin / czkawka', 'nodejs / nodejs.org', 'geekan / MetaGPT', 'CleverRaven / Cataclysm-DDA']

In [28]:
print(r_description)

['🚀🧠💬 Supercharged Custom Instructions for ChatGPT (non-coding) and ChatGPT Advanced Data Analysis (coding).', 'Playing Pokemon Red with Reinforcement Learning', 'Neovim config for the lazy', 'A black hole for Internet advertisements', 'All Algorithms implemented in Python', 'A blazing fast inference solution for text embeddings models', 'A list of Free Software network services and web applications which can be hosted on your own servers', 'uBlock Origin - An efficient blocker for Chromium and Firefox. Fast and lean.', 'Curated list of project-based tutorials', 'Build and Deploy a Fully Responsive Modern UI/UX Website, React.js, Next.js 13, Tailwind CSS', 'Scheduling infrastructure for absolutely everyone.', 'A launch point for your personal nvim configuration', "Hyprland is a highly customizable dynamic tiling Wayland compositor that doesn't sacrifice on its looks.", 'Open Source Surveys & Experience Management Solution', '💥 A collection of all documents leaked by former NSA contractor and whistleblower Edward Snowden.', 'Self-hosted game stream host for Moonlight.', '🔥LeetCode solutions in any programming language | 多种编程语言实现 LeetCode、《剑指 Offer（第 2 版）》、《程序员面试金典（第 6 版）》题解', '4D Gaussian Splatting for Real-Time Dynamic Scene Rendering', 'The Magic Mask for Android', 'Multi functional app to find duplicates, empty folders, similar images etc.', 'The Node.js® Website', '🌟 The Multi-Agent Framework: Given one line Requirement, return PRD, Design, Tasks, Repo', 'Cataclysm - Dark Days Ahead. A turn-based survival game set in a post-apocalyptic world.']

In [29]:
print(c_count)

['2', '4', '220', '1,262', '104', '70', '180', '124', '56', '35']

In [30]:
print(r_language)

['Python', 'Jupyter Notebook', 'Lua', 'TypeScript', 'Shell', 'Python', 'Rust', 'JavaScript', 'TypeScript', 'TypeScript', 'Lua', 'C++', 'TypeScript', 'C++', 'JavaScript', 'Java', 'Python', 'C++', 'Rust', 'TypeScript', 'Python', 'C++']

In [ ]:
df4 = pd.DataFrame({"Repository Title":r_title, "Repository Description":r_description, "Contributors Count":c_count, "Language Used":r_language})
df4

### Q5 :-  Scrape the details of top 100 songs on billiboard.com

In [33]:
url = "https://www.billboard.com/"
driver = webdriver.Chrome()
driver.get(url)

sub_menu = driver.find_element(By.XPATH, '//div[@class="main-sub-menu-container-esp js-hide-when-sticky lrv-u-flex lrv-u-background-color-white u-height-45"]/div/nav/ul/li[4]')
sub_menu.click()
time.sleep(10)

AttributeError: 'list' object has no attribute 'sleep'

In [34]:
Song_Name = []
Artist_Name = []
Last_week_Rank = []
Peak_Rank = []
Weeks_on_Board = []

name = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li/h3')
for n in name:
    Song_Name.append(n.text)
    
artist = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for a in artist:
    Artist_Name.append(a.text)
    
week_rank = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[4]/span')
for w in week_rank:
    Last_week_Rank.append(w.text)
    
peak_rank = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[5]/span')
for p in peak_rank:
    Peak_Rank.append(p.text)
    
weeks_on_board = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[6]/span')
for wob in weeks_on_board:
    Weeks_on_Board.append(wob.text)

In [35]:
print(len(Song_Name), len(Artist_Name), len(Last_week_Rank), len(Peak_Rank), len(Weeks_on_Board))

100 100 100 100 100

In [36]:
df5 = pd.DataFrame({"Song Name":Song_Name, "Artist Name":Artist_Name, "Last Week Rank":Last_week_Rank, "Peak Rank":Peak_Rank, "Weeks On Board":Weeks_on_Board})
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Paint The Town Red,Doja Cat,1,1,9
1,Snooze,SZA,2,2,43
2,Cruel Summer,Taylor Swift,4,3,22
3,Fast Car,Luke Combs,3,2,28
4,3D,Jung Kook & Jack Harlow,-,5,1
...,...,...,...,...,...
95,Long Journey,Rod Wave,75,39,3
96,But I Got A Beer In My Hand,Luke Bryan,-,92,3
97,Rubicon,Peso Pluma,-,63,12
98,East Side Of Sorrow,Zach Bryan,95,18,6
99,Where She Goes,Bad Bunny,-,8,19

### Q6 :-  Scrape the details of Highest selling novels.

In [37]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

AttributeError: 'list' object has no attribute 'sleep'

In [38]:
Book_Name = []
Author_Name = []
Volumes_Sold = []
Publisher = []
Genre = []

book_name = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
for b in book_name:
    Book_Name.append(b.text)
    
author_name = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
for a in author_name:
    Author_Name.append(a.text)
    
volumes_sold = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
for v in volumes_sold:
    Volumes_Sold.append(v.text)
    
publisher = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
for p in publisher:
    Publisher.append(p.text)
    
genre = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
for g in genre:
    Genre.append(g.text)

In [39]:
print(len(Book_Name), len(Author_Name), len(Volumes_Sold), len(Publisher), len(Genre))

100 100 100 100 100

In [40]:
df6 = pd.DataFrame({"Book Name":Book_Name, "Author Name":Author_Name, "Volumes Sold":Volumes_Sold, "Publisher":Publisher, "Genre":Genre})
df6

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Q7 :-  Scrape the details most watched tv series of all time from imdb.com.

In [41]:
url = "https://www.imdb.com/list/ls095964455/"
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

AttributeError: 'list' object has no attribute 'sleep'

In [42]:
Series_Name = []
Series_Year_Span = []
Series_Genre = []
Series_Run_Time = []
Series_Ratings = []
Series_Votes = []

In [43]:
series_name = driver.find_elements(By.XPATH, '//div[@class="lister list detail sub-list"]/div/div/div/h3/a')
for n in series_name:
    Series_Name.append(n.text)
    
Year_Span = driver.find_elements(By.XPATH, '//div[@class="lister list detail sub-list"]/div/div/div/h3/span[2]')
for y in Year_Span:
    Series_Year_Span.append(y.text)
    
series_genre = driver.find_elements(By.XPATH, '//span[@class="genre"]')
for sg in series_genre:
    Series_Genre.append(sg.text)
    
Run_Time = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
for rt in Run_Time:
    Series_Run_Time.append(rt.text)
    
series_ratings = driver.find_elements(By.XPATH, '//div[@class="lister list detail sub-list"]/div/div/div/div/div/span[2]')
for sr in series_ratings:
    Series_Ratings.append(sr.text)
    
series_votes = driver.find_elements(By.XPATH, '//span[@name="nv"]')
for sv in series_votes:
    Series_Votes.append(sv.text)

In [44]:
print(len(Series_Name), len(Series_Year_Span), len(Series_Genre), len(Series_Run_Time), len(Series_Ratings), len(Series_Votes))

100 100 100 100 100 100

In [45]:
df7 = pd.DataFrame({"Series Name":Series_Name, "Series Year Span":Series_Year_Span, "Series Genre":Series_Genre, "Series Run Time":Series_Run_Time, "Series Ratings":Series_Ratings, "Series Votes":Series_Votes})
df7

,Series Name,Series Year Span,Series Genre,Series Run Time,Series Ratings,Series Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,212,689"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,653"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,049,893"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,508"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,470"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,941"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,011"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,832"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,086"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,250"

### Q8 :-  Details of Datasets from UCI machine learning repositories.

In [2]:
url = "https://archive.ics.uci.edu/"
driver = webdriver.Chrome()
driver.get(url)

sub_menu = driver.find_element(By.XPATH, '//div[@class="flex flex-wrap justify-center gap-5"]/a')
sub_menu.click()

In [6]:
pop_up = driver.find_element(By.XPATH, '//button[@class="btn-primary btn-sm btn m-1"]')
pop_up.click()

In [7]:
Dataset_Name = []
Data_Type = []
Task = []
Attribute_Type = []
No_of_Instances = []
No_of_Attribute = []
Year = []

In [8]:
data_url = []

start = 1
end = 3
for page in range(start, end):
    url = driver.find_elements(By.XPATH, '//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for i in url:
        data_url.append(i.get_attribute("href"))
        
    next_button = driver.find_element(By.XPATH, '//div[@class="btn-group"]/button[2]')
    next_button.click()

In [9]:
print(len(data_url))

20

In [13]:
for url in data_url:
    driver.get(url)
    time.sleep(3)
        
    try:
        dataset_name = driver.find_elements(By.XPATH, '//h1[@class="text-3xl font-semibold text-primary-content"]')
        for dn in dataset_name:
            Dataset_Name.append(dn.text)
    except NoSuchElementException:
        Dataset_Name.append("-")
        
    try:
        data_type = driver.find_elements(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[2]/p')
        for dt in data_type:
            Data_Type.append(dt.text)
    except NoSuchElementException:
        Data_Type.append("-")
        
    try:
        task = driver.find_elements(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        for t in task:
            Task.append(t.text)
    except NoSuchElementException:
        Task.append("-")
     
    try:
        attribute_type = driver.find_elements(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        for at in attribute_type:
            Attribute_Type.append(at.text)
    except NoSuchElementException:
        Attribute_Type.append("-")        

    try:
        no_of_instances = driver.find_elements(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        for noi in no_of_instances:
            No_of_Instances.append(noi.text)
    except NoSuchElementException:
        No_of_Instances.append("-")       
        
    try:
        no_of_attribute = driver.find_elements(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        for noa in no_of_attribute:
            No_of_Attribute.append(noa.text)
    except NoSuchElementException:
        No_of_Attribute.append("-")
        
    try:
        year = driver.find_elements(By.XPATH, '//div[@class="flex flex-col"]/div/div/h2')
        for y in year:
            Year.append(y.text)
    except NoSuchElementException:
        Year.append("-")

In [14]:
 print(len(Dataset_Name), len(Data_Type), len(Task), len(Attribute_Type), len(No_of_Instances), len(No_of_Attribute), len(Year))

38 38 38 38 38 38 34

In [12]:
df8 = pd.DataFrame({"Dataset Name":Dataset_Name, "Data Type":Data_Type, "Task":Task, "Attribute Type":Attribute_Type, "No of Instances":No_of_Instances, "No of Attribute":No_of_Attribute})
df8

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute
0,Iris,Life Science,Classification,Real,150,4
1,Heart Disease,Life Science,Classification,"Categorical, Integer, Real",303,13
2,Adult,Social Science,Classification,"Categorical, Integer",48842,14
3,Wine,Physical Science,Classification,"Integer, Real",178,13
4,Breast Cancer Wisconsin (Diagnostic),Life Science,Classification,Real,569,30
5,Diabetes,Life Science,-,"Categorical, Integer",-,20
6,Dry Bean Dataset,Computer Science,Classification,"Integer, Real",13611,16
7,Car Evaluation,Other,Classification,Categorical,1728,6
8,Rice (Cammeo and Osmancik),Computer Science,Classification,Real,3810,7
9,Mushroom,Life Science,Classification,Categorical,8124,22
10,Iris,Life Science,Classification,Real,150,4
11,Heart Disease,Life Science,Classification,"Categorical, Integer, Real",303,13
12,Adult,Social Science,Classification,"Categorical, Integer",48842,14
13,Wine,Physical Science,Classification,"Integer, Real",178,13
14,Breast Cancer Wisconsin (Diagnostic),Life Science,Classification,Real,569,30
15,Diabetes,Life Science,-,"Categorical, Integer",-,20
16,Dry Bean Dataset,Computer Science,Classification,"Integer, Real",13611,16
17,Car Evaluation,Other,Classification,Categorical,1728,6
18,Rice (Cammeo and Osmancik),Computer Science,Classification,Real,3810,7
19,Mushroom,Life Science,Classification,Categorical,8124,22